<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089074875485-b9tkke712bicgod6iqcrlmu48mqljkfd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089074875485-b9tkke712bicgod6iqcrlmu48mqljkfd</string>
	<key>API_KEY</key>
	<string>AIzaSyDdEA7wzHz8R0lUFfn0VvmF5PaH1vL9jUY</string>
	<key>GCM_SENDER_ID</key>
	<string>1089074875485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rafasg13.messupp</string>
	<key>PROJECT_ID</key>
	<string>flutter-app-back</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-app-back.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089074875485:ios:bbe590a3478444f5be91b4</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-app-back-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>